<nav class="navbar fixed-top navbar-expand-lg bg-dark">
    <div class="container-fluid">

        <a class="navbar-brand text-white d-flex align-items-center" href="#">
            <i class="bi-reddit me-2"></i>redditLike</a>

        <li class="nav-item dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false"> Home</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </li>

        <form class="d-flex flex-fill ms-3" role="search">
            <input class="form-control me-2 search-bar" type="search" placeholder="Search" aria-label="Search">
        </form>

        <li><i class="bi bi-arrow-up-right-circle"></i></li>
        <li><i class="bi bi-shield"></i></li>
        <li><i class="bi bi-chat-dots"></i></li>
        <li><i class="bi bi-bell"></i> </li>
        <li><i class="bi bi-plus-lg"></i></li>

        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-white ms-3">MyName</a>
        </li>


    </div>

</nav>