.bi-reddit{
    font-size: 2rem;
    color: orangered;
   
}

.bi{
    font-size: 25px;
    color: white;
    padding: 5px;
}

.search-bar{
    border-radius: 20px;
    background-color: grey;
}

.nav-margin{
    padding-bottom: 64px; 
    background-color: black;
}
