
<div class="container bg-dark text-white rounded-1 border border-secondary p-2">
    <div class="row ps-2">
        <div class="col-6">User Agreement</div>
        <div class="col-6">Privacy Policy</div>
        <div class="col-6">Content Policy</div>
        <div class="col-6">Moderator Code Of Conduct</div>
    </div>
    <hr>
    <div class="row ps-2">
        <div class="col-6">English</div>
        <div class="col-6">Deutsch</div>
        <div class="col-6">French</div>
        <div class="col-6">Español</div>
    </div>
    <hr>
    <div class="row ps-3">Reddit, Inc. © 2023. All rights reserved.</div>
</div>
