<div class="container bg-dark text-white rounded-1 border border-secondary p-2">
    <div class="row ps-2">
        <div class="col-2"><i class="bi bi-bag-plus h4"></i></div>
        <div class="col">
            <div class="row">Buy premium</div>
            <div class="row">The best RedditLike experience</div>
        </div>
    </div>
    <div class="row d-flex justify-content-center mt-1">
        <button type="button" class="btn btn-warning rounded-5 btn-sm w-50" (click)="getPremium()">Get premium</button>
    </div>
   
</div>

<div class="container bg-dark text-white rounded-1 border border-secondary p-2 mt-2">
    <div class="row ps-2">
        <div class="col-6">User Agreement</div>
        <div class="col-6">Privacy Policy</div>
        <div class="col-6">Content Policy</div>
        <div class="col-6">Moderator Code Of Conduct</div>
    </div>
    <hr>
    <div class="row ps-2">
        <div class="col-6">English</div>
        <div class="col-6">Deutsch</div>
        <div class="col-6">French</div>
        <div class="col-6">Español</div>
    </div>
    <hr>
    <div class="row ps-3">Reddit, Inc. © 2023. All rights reserved.</div>
</div>

