<app-navbar></app-navbar>

 <div class="home-container">
    <div class="container home">

        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <div *ngFor="let thread of threads$ | async">
                     <app-thread [thread]="thread"></app-thread>
                </div>
             </div>

             <div class="col-3">
                 <app-side-links></app-side-links>
             </div>
        </div>

        <button type="button" class="btn btn-light rounded-5" (click)="scrollToTop()">Back to top</button>
      
    </div>
 </div>
